{% extends "page.html" %}
{% block title %}{{ node.fqdn }}{% endblock %}
{% block subtitle %}placehoolder{% endblock %}

{% block buttons %}
    <!--<form action="/node/{{ node.fqdn }}/op" method="post">
        <input type="submit" class="secondary-button pure-button" name="op" value="Make all public" />
        <input type="submit" class="secondary-button pure-button" name="op" value="Make all private" />
        <input type="submit" class="secondary-button pure-button" name="op" value="Delete tag" />
    </form>-->
    <a href="/node_edit?node={{ node.fqdn }}"><button class="secondary-button pure-button">Edit</button></a>
    <a href="/node/{{ node.fqdn }}/attach"><button class="secondary-button pure-button">Attach class</button></a>
    <a href="/puppet?preview=true&fqdn={{ node.fqdn }}"><button class="secondary-button pure-button">Render</button></a>
{% endblock %}

{% block body %}

<div class="nodes-single">
    <div class="node">
        <div class="node_info">
            <h2>{{ node.name }}</h2>
            <pre>
{{ node.body }}
            </pre>
        </div>
        <div class="node-parents">
            <h2>Parents</h2>
            {% for item in node.parents %}
            <a href="/node/{{ item.fqdn }}">{{ item.fqdn }}</a><br />
            {% endfor %}
        </div>
        <div class="node-classes">
            <h2>Classes</h2>
            <div class="class-list">
                {% for name, class in node.classes.items() %}
                    <div class="class">
                        {{ class.cls.name }}
                    </div>
                    <div class="class-conf">
<pre>{{ class.conf }}</pre>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
            <div class="node-add-class">
                <h2>Add class</h2>
                <form action="/node/{{ node.fqdn }}/op" method="post" class="pure-form pure-form-stacked">
                    <select name="clsname">
                        {% for cls in classnames %}
                        <option value="{{ cls }}">{{ cls }}</option>
                        {% endfor %}
                    </select>
                    <textarea name="config" cols="30" rows="10" placeholder="Yaml config"></textarea>
                    <input type="submit" name="op" class="pure-button pure-button-primary" value="Attach"/>
                </form>
            </div>
            <div class="node-add-parent">
                <h2>Add parent</h2>
                <form action="/node/{{ node.fqdn }}/op" method="post" class="pure-form pure-form-stacked">
                    <select name="parent">
                        {% for item in nodenames %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="op" class="pure-button pure-button-primary" value="Add Parent"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
